<ion-header>
  <ion-navbar swipeBackEnabled="false">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{TrenData.TrenAd}}'in Cihazları</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="list-content">
    <span *ngIf="TrenData.countT==0">
      <b>{{TrenData.TrenAd}} Trenine ait aktif cihaz bilgisi bulunmamaktadır.</b>
         </span>
  <ion-list inset *ngFor="let tcihaz  of dataSetTCihaz">   
      <ion-item detail-none text-wrap> 
        
          <button ion-item (click)="goToCihazDetail(tcihaz)">
              <ion-badge color="{{tcihaz.iconColor}}" item-start>
                  <ion-icon item-left name="{{tcihaz.iconString}}"></ion-icon>
              </ion-badge> 
              <b text-wrap >{{tcihaz.CAd}}</b>
              <p text-wrap class="csv-date">Son Veri Tarihi: {{tcihaz.CSonVeriTar | date: "dd/MM/yyyy H:mm"}}</p>
              <ion-thumbnail item-left>
                  <img src="assets/imgDevices/{{tcihaz.Cid}}.png">
                </ion-thumbnail> 
            </button>
            </ion-item>         
    </ion-list>
</ion-content>
