$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: (
  primary:           #2A2C43,
  secondary:        #677077,
  lightprimary:    #B5B5B7,
  light:                 #f4f4f4,
  dark:                 #222,
  energy:             #f2b632,
  success: #5cb85c,
  danger:#d9534f,
  blueprimary:#5bc0de,
  appbackground:#399F8B,
  appitembackground:#56CA96

);
$toolbar-background: color($colors, primary);
$searchbar-background-color: color($colors, light);
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
