.list-content{
    background:color($colors,appitembackground);
}
.list-item-content{
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    background:color($colors, appbackground);
}
.item-content{
    background:color($colors,appitembackground);
}
.i-am-centered {  
    width: 100px; //your image/element width here
    height: 100px; //your image/element height here
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;  
}
