<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Tren Listesi</ion-title>
    </ion-navbar>

      
  <ion-toolbar no-border-top>
      <ion-searchbar (ionInput)="searchFn($event)" placeholder="Ara"></ion-searchbar>
   
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
         <ion-list inset *ngFor="let tren  of dataSetTrenL | searchTren: term">
              <button ion-item (click)="goToTrenDetail(tren)">
                  <h5 text-center *ngIf="tren"> 
                      <b> {{tren.TrenAd}}</b>
                      <ion-icon item-left name="md-train"></ion-icon>         
                    </h5>           
                </button>                       
         </ion-list>
         <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Yükleniyor"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
  </ion-content>

  