page-tren {
    font-size: 62.5%;
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .btns-header{
        width:100%; //bulunduğun alanı doldur
        height:200px;
        display: inline-block;
        margin:0;
       
      }
      .badge-tren{
        font-weight:bold;
        font-size:1.4rem;
        text-align: center;
        position: relative;
    }
}
