<!--
  Generated template for the CihazDetayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{datacihazd.CAd}}'in Detayları</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding="">
    <ion-list inset *ngFor="let cdetay  of dataSetCD">
    <button ion-item text-wrap>            
        <p class="csv-date" *ngIf="cdetay">Son Verilme Tarihi: {{cdetay.DetayErisimSonTar | date: "dd/MM/yyyy H:mm"}}</p>
        <p *ngIf="cdetay">{{cdetay.DetayStr}}</p>      
    </button>           
    </ion-list>
    <div>
        {{message}}
    </div>
    
</ion-content>